/*global*/
html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: arial;
}
a{
    display: block;
    color: black;
    text-decoration: none;
}
p{
    font-size: 1.6rem;
    line-height: 2;
}
img{
    max-width: 100%;
}
table{
    border: 1px solid rgb(170, 167, 167);
    font-size: 1.6rem;
    border-collapse: collapse;
    margin: 2rem auto;
}
td,th{
    border: 1px solid rgb(170, 167, 167);
    width: 15rem;
    padding: 1rem;
    text-align: center;
}
th{
    background-color: rgb(110, 110, 165);
    padding: 1rem;
    width: 15rem;
}
label,input,legend{
    font-size: 1.6rem;
}
input,textarea,select{
    width: 97%;
    background-color: #dedede;
    border: none;
    padding: .5rem;
    border-radius: .5rem;
}
/*utilities*/
.container{
    width: 70%;
    margin: 0 auto;
}
.flex-container{
    display:flex;
    margin: 1rem 0
    
}
a.btn{
    display:block;
    width:210px;
    background-color:rgb(255, 109, 4);
    color: white;
    border: none;
    padding: 15px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*header*/
header.site-header{
    background-image: url(../img/header.jpg);
    height: 40vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1rem;
}
header.site-header h1{
    font-size: 3.5rem;
    color: white;
    margin: 0;
    padding: 0;
}
header.site-header p{
    color: white;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}
nav#navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
}
nav#navigation a{
    color: white;
    font-size: 1.6rem;
    padding: 1rem;
}

/*mobile menu*/
.mobile-menu{
    display: none;
}
.bars{
    width: 2rem;
}
@media(max-width:768px){
    .mobile-menu{
        display: block;
    }
    nav#navigation{
        display: none;
    }
    nav#navigation{
        flex-direction: column;
    }
}
#navigation:target{
    display: block;
}
/*main*/
.about-item{
    padding: 1rem;
    margin-right: 1rem;
}
.about-item p{
    font-size: 1.4rem;
    text-align: justify;
}
.about-item img{
    display: block;
    margin: 1rem auto;
}
.about-us h2{
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin: 2rem;
}
.about-item h3{
    font-size: 2.5rem;
    margin: 1rem;
    text-align: center;
}
@media(max-width:768px){
    .container{
        width: 90%;
    }
    .flex-container{
        flex-direction: column;
    }
}
/*houses*/
.house-container{
    display: flex;
}
.house-item h3{
    font-size: 2.5rem;
}
.house-item{
    background-color: #dedede;
    margin-right: 1rem;
}
.text-info{
    font-size: 1.6rem;
}
.text-price{
    color: rgb(106, 163, 106);
    font-size: 1.6rem;
}
.hp-container{
    display: flex;
    justify-content: space-between;
}
.icon-container{
    display:flex;
}
@media(max-width:768px){
    .house-container{
        flex-direction: column;
    }
    .house-item{
        margin: 1rem;
        padding: 1rem;
    }
}
/*about*/
.about-header{
    background-color: rgb(62, 62, 62);
    height:15vh;
    color: white;
}
.about-header nav.menu a{
    color: rgb(255, 255, 255);
    margin-right: 1rem;
}
h2{
    text-align: center;
    text-transform: uppercase;
    margin-top: 2rem;
    color: white;
}
h1{
    color: white;
}

/*blog*/
.blog-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog-text{
    background-color: rgb(60, 201, 111);
    border-radius: 1rem;
    padding: 1.5rem;
}
.bars{
    display: block;
    width: auto;
}

/*contact*/

.input-control{
    margin-bottom: 2rem;
}
.input-control label, legend{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: .2rem;
}
fieldset{
    padding: 1rem;
    margin: 1rem;
}
h3{
    text-align: center;
    font-size: 1.8rem;
    margin: 1rem;
}
.checkbox{
    display: flex;
}
.checkbox-style{
    display: flex;
    justify-content: space-around;
}
